target/
node_modules/
.dart_tool/
build/
pkg/
__pycache__/
*.pyc
clients/gleam/build/
clients/gleam/manifest.toml
generated/gleam/build/
generated/gleam/manifest.toml
clients/dart/.dart_tool/
clients/dart/pubspec.lock
generated/dart/.dart_tool/
generated/dart/pubspec.lock
.vendor/.zed/
zed_modules/
.zed/
.zed-pack/
